#step3.modal-dialog(role='document')
  .modal-content
    .modal-header
      h5#exampleModalLabel.modal-title Don't forget the essentials!
    .modal-body
      table#essentials
        tr
          th Select
          th Name
    .modal-footer
      button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
      button#previous.btn.btn-secondary(type='button') Previous
      button#finish.btn.btn-primary(type='button') Finish
  script.
    (function () {
      const $previousBtn = $("button#previous");
      const $skipBtn = $("button#skip");
      const $finishBtn = $("button#finish");
      const $wizardModal = $("#wizardModal");
      const $essentialsTable = $("table#essentials");
      let essentialItems;

      $previousBtn.click(() => {
        $.get("/wizard-steps/step2", (response) => {
          $wizardModal.html(response);
        });
      });

      $finishBtn.click(() => {
        let checkedEssentials = [];
        essentials.forEach((item) => {
          let checked = $(`input#${item.id}`).prop("checked");
          if (checked) checkedEssentials.push(item);
        });
        let checkedWeatherItems = JSON.parse(localStorage.getItem("checked-weather-items"));
        
        $.post()

        $wizardModal.modal("hide");
        //- $.get("/wizard-steps/step4", (response) => {
        //-   $wizardModal.modal("hide");
        //-   $wizardModal.html(response);
        //-   $wizardModal.modal("show");
        //- });
      });

      $.get("/api/packingItems/essentials", (items) => {
        essentialItems = items;
        essentialItems.forEach((item) => {
          $essentialsTable.append(`
            <tr>
              <td><input id="${item.id}" checked type="checkbox"></td>
              <td>${item.item_name}</td>
            </tr>
          `);
        });
      });
    })();
