
table.table.table-hover
    thead
        tr
        th(scope='col')
        th(scope='col') Items
    tbody
        tr
        th(scope='row') 1
        td
            input(type='checkbox' aria-label='Checkbox for following text input')
        td Testing Item