extends layout

block content
    div.container
        div.row.background-splash.mb-4
            //- card.text-white.bg-dark.mb-3.col-sm(style='max-width: 18rem;')
            //-     .card-header Header
            //-     .card-body
            //-      h5.card-title Dark card title
            //-          p.card-text
            //-          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
            div.header.m-4
                h1 your
                .card.border-success.mb-3.mt-4(style='max-width: 18rem;')
                    .card-header.bg-transparent.border-success.text-success#card-color Header
                    .card-body.text-success
                        p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the cards content.
                    .bg-transparent
                            