.list-group-item {
  line-height: 2.5;
}

*{
  box-sizing: border-box;
}

html{
  /* background-image: url(./images/pack-it-bg.svg); */
  /* background-color: #1B1F38; */
  background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
  /* border: 5px solid salmon; */
  height: auto;
  padding-top: 0px;

}

.background{
  height: 98.5vh;
  border: #1B1F38 solid 1px;
  background-color: #1B1F38;
}

.flex-container{
  display: flex;
  flex-direction: row;
  border: solid salmon;
  height: 100%;
}

.info-text{
  border: solid salmon;
  width: 50%;
}

.gif-container{
  border: solid red;
}

.splash-text{
  text-align: left;
  padding-top: 50%;
  padding-left: 25%;
  padding-right: 25%;
  color: white;
}