extends layout

block content
  div
    button login
    button back
  div
    button#startWizard.btn.btn-primary Start Wizard
    #wizardModal.modal.fade(tabindex='-1' role='dialog')
  button.weatherApi api
