extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  //- ol
  //-   each item in packingList
  //-     li Name: #{item.name} | Category: #{item.category}
  div 
    button login
    button back
