#step2.modal-dialog(role='document')
  .modal-content
    .modal-header
      h5#step2Header.modal-title
    .modal-body
      table#weatherItems
        tr
          th Select
          th Name
    .modal-footer
      button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
      button#previous.btn.btn-secondary(type='button') Previous
      button#next.btn.btn-primary(type='button') Next
  script.
    (function () {
      const $previousBtn = $("button#previous");
      const $skipBtn = $("button#skip");
      const $nextBtn = $("button#next");
      const $wizardModal = $("#wizardModal");
      const $weatherItemsTable = $("table#weatherItems");
      const $step2Header = $("#step2Header");

      const step2Header = localStorage.getItem("step2-header");
      $step2Header.html(step2Header);

      const weatherSuggestions = JSON.parse(localStorage.getItem("weather-suggestions"));
      weatherSuggestions.forEach((item) => {
        $weatherItemsTable.append(`
          <tr>
            <td><input id="${item.id}" type="checkbox"></td>
            <td>${item.item_name}</td>
          </tr>
        `);
      });

      $previousBtn.click(() => {
        $.get("/wizard-steps/step1", (response) => {
          $wizardModal.html(response);
        });
      });

      $nextBtn.click(() => {
        //store checked weather items to save to server later
        let checkedItems = [];
        weatherSuggestions.forEach((item) => {
          let checked = $(`input#${item.id}`).prop("checked");
          if (checked) checkedItems.push(item);
        });
        localStorage.setItem("checked-weather-items", JSON.stringify(checkedItems));
        $.get("/wizard-steps/step3", (response) => {
          $wizardModal.html(response);
        });
      });
    })();
