#step3.modal-dialog(role='document')
  .modal-content
    .modal-header
      h5#exampleModalLabel.modal-title Don't forget the essentials!
    .modal-body
      table#essentials
    .modal-footer
      button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
      button#previous.btn.btn-secondary(type='button') Previous
      button#finish.btn.btn-primary(type='button') Finish
  script.
    (function () {
      const $previousBtn = $("button#previous");
      const $skipBtn = $("button#skip");
      const $finishBtn = $("button#finish");
      const $wizardModal = $("#wizardModal");
      const $essentialsTable = $("table#essentials");
      let essentialItems;

      $.get("/api/packingItems/essentials", (items) => {
        essentialItems = items;
        essentialItems.forEach((item) => {
          $essentialsTable.append(`
            <tr>
              <td class="text-center"><input id="${item.id}" checked type="checkbox">&nbsp;&nbsp;&nbsp;</td>
              <td>${item.item_name}</td>
            </tr>
          `);
        });
      });

      $previousBtn.click(() => {
        $.get("/wizard-steps/step2", (response) => {
          $wizardModal.html(response);
        });
      });

      $finishBtn.click(() => {
        let checkedEssentials = [];
        essentialItems.forEach((item) => {
          let checked = $(`input#${item.id}`).prop("checked");
          if (checked) checkedEssentials.push(item);
        });
        let checkedWeatherItems = JSON.parse(localStorage.getItem("checked-weather-items"));
        let city = localStorage.getItem("city");

        $.post("/api/save-trip", {
          location: city,
          packingItems: JSON.stringify([].concat(checkedWeatherItems, checkedEssentials))
        }, () => {
          window.location.href = "/home";
        });
      });

    })();
